*{
  margin: 0;
}

nav {
  a.navbar-brand {
    font-size: 1.5rem;
  }
  .navbar-nav {
    margin-left: auto;
    .nav-item {
      a.nav-link {
        color: orangered;
        &:hover {
          color: black;
        }
      }
    }
  }
}
#myId2
{
  color: #007bff;
}
